body {
	font-family: Sans-Serif;
}

td {
	border: 0.1px solid #EEEEEE !important;
}

.titulo-form {
	text-transform: uppercase !important;
	font-weight: bold !important;
	font-size: 20px !important;
	margin-bottom: 2.5%;
	margin-top: 3%;
}

.bordas {
	min-width: 80% !important;
}

.titulo-form-span {
	font-size: 20px !important;
}

.titulo-borda {
	border-radius: 200px !important;
	border: none !important;
	box-shadow: none;
}

.titulo-grupo {
	background-color: #4CBCC8 !important;
	text-transform: uppercase !important;
	font-weight: bold !important;
	font-size: 15px !important;
}

.caixa {
	background-color: white !important;
	border-radius: 5px !important;
	border-bottom: none !important;
	padding-left: 20px !important;
	max-height: 40px !important;
	max-width: 90%;
	display: inline-block !important;
	margin-left: 10px;
	margin-bottom: -20% !important;
	margin-top: -20% !important;
}

.exp {
	max-width: 73% !important;
}

.obsdioptrias {
	margin-right: -150px !important;
}

#dioptrias {
	max-width: 80%;
	margin-left: 10%;
}

#dioptrias td {
	text-align: center;
}

.single {
	margin-top: 15px !important;
}

.single2 {
	margin-top: 17px !important;
}

.double {
	margin-top: -5px !important;
	margin-bottom: 22.5px !important;
}

.double2 {
	margin-top: 10px !important;
	margin-bottom: 22.5px !important;
}

.double3 {
	margin-top: -20px !important;
	margin-bottom: 22.5px !important;
}

.triple {
	margin-top: 15px !important;
	margin-bottom: 22.5px !important;
}

.name {
	margin-left: 11px !important;
}

.texcaixa {
	background-color: white !important;
	border-radius: 5px !important;
	border-bottom: none !important;
	padding-left: 20px !important;
	height: 100px;
	max-width: 85%;
	margin-top: -29px !important;
}

.tabelaCampo {
	background-color: white !important;
	border-radius: 5px !important;
	border-bottom: none !important;
	padding-left: 20px !important;
	max-height: 40px !important;
	max-width: 50%;
	display: inline-block !important;
	margin-bottom: -20% !important;
	margin-top: -20% !important;
}

.descricao {
	color: black !important;
	font-size: 14px !important;
	font-weight: bold !important;
	display: block !important;
	text-align: left;
}

.obrigatorio {
	color: red !important;
}

.oftalmo {
	margin-top: 20px !important;
}

.finalizar {
	background-color: white !important;
	border-radius: 5px !important;
	border: none !important;
	padding-left: 10px !important;
	width: 20%;
	height: 40px;
	margin-left: -2%;
	background-color: #00A743 !important;
	color: white !important;
	font-weight: bold;
	text-transform: uppercase;
}

.observacao {
	background-color: white !important;
	border-radius: 5px !important;
	border: none !important;
	height: 40px;
	margin-left: -2%;
	background-color: #C22C2C !important;
	color: white !important;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none !important;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
	padding-left: 5% !important;
	padding-right: 5% !important;
}

.bloco-left {
	display: inline-block;
	float: left;
	min-width: 85% !important;
}

.bloco-right {
	display: inline-block;
	float: relative;
	min-width: 15% !important;
}

.foto-user {
	border-radius: 10px;
	margin-left: 20% !important;
}

.lupa {
	vertical-align: -13.5px;
	margin-left: -4px;
	/*margin-bottom: 1% !important;*/
	margin-top: -10% !important;
}

.pesquisar {
	border-bottom-right-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.reduz-espaco {
	padding-bottom: -20% !important;
	/*background-color: red;*/
}

.tabela-reduzir-espaco {
	margin-top: -50px !important;
}

.combo-vendedor {
	margin-left: -30px;
}

/*Responsividade*/

@media screen and (max-width: 992px) {
	.caixa {
		width: 50% !important;
	}

	.vend-cod {
		max-width: 12% !important;
		padding-left: 0px !important;
	}

	.exp {
		max-width: 80% !important;
	}

	.bloco-left {
		float: center !important;
	}

}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
	.caixa {
		width: 70% !important;
		/*margin-top: 10px !important;*/
	}

	.vend-cod {
		max-width: 12% !important;
		padding-left: 0px !important;
	}

	.exp {
		max-width: 40% !important;
	}

	.bloco-left {
		float: center !important;
	}

	.combo-vendedor {
		margin-left: -20px !important;
	}

	.divide {
		margin-top: 25px !important;
	}

}
