body {
	font-family: Sans-Serif;
}

.titulo-form {
	text-transform: uppercase !important;
	font-weight: bold !important;
	font-size: 30px !important;
	margin-bottom: 2.5%;
	margin-top: 5%;
}

.titulo-form-span {
	font-size: 19px !important;
}

.titulo-borda {
	border-radius: 200px !important;
	border: none !important;
	box-shadow: none;
}

.titulo-grupo {
	background-color: #4CBCC8 !important;
	text-transform: uppercase !important;
	font-weight: bold !important;
	font-size: 15px !important;
}

.caixaGrande {
	background-color: white !important;
	border-bottom-left-radius: 5px !important;
	border-top-left-radius: 5px !important;
	border-bottom: none !important;
	padding-left: 20px !important;
	max-width: 57%;
	display: inline-block !important;
	margin-left: 10px !important;
}

.caixa {
	background-color: white !important;
	border-radius: 5px !important;
	border-bottom: none !important;
	padding-left: 20px !important;
	max-width: 57%;
	display: inline-block !important;
	margin-left: 10px !important;
}

.descricao {
	color: black !important;
	font-size: 15px !important;
	font-weight: bold !important;
	display: block !important;
}

.obrigatorio {
	color: red !important;
}

.caixaPesquisa {
	background-color: white !important;
	border-top-right-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
	border-bottom: none !important;
	background-color: #4CBCC8 !important;
	color: white !important;
	width: 500px !important;
	padding-top: 15px;
	padding-bottom: 13px;
	padding-right: 10px;
	padding-left: 20px !important;
	margin-left: -2%;
}

.lupa {
	margin-left: -1.5%;
	vertical-align: middle;
}

.alinhar {
	margin-left: 16% !important;
}

.tabelaCampo {
	background-color: white !important;
	border-radius: 5px !important;
	border-bottom: none !important;
	padding-left: 20px !important;
	max-width: 50%;
	display: inline-block !important;
	margin-left: 10px !important;
}

.finalizar {
	background-color: white !important;
	border-radius: 5px !important;
	border: none !important;
	padding-left: 10px !important;
	width: 60%;
	height: 40px;
	margin-left: -2%;
	background-color: #00A743 !important;
	color: white !important;
	font-weight: bold;
	text-transform: uppercase;
}

.limpar {
	background-color: white !important;
	border-radius: 5px !important;
	border: none !important;
	padding-left: 10px !important;
	width: 29%;
	height: 40px;
	margin-left: -2%;
	background-color: #9D9D9D !important;
	color: white !important;
	font-weight: bold;
	text-transform: uppercase;
}

.imprimir {
	background-color: white !important;
	border-radius: 5px !important;
	border: none !important;
	padding-left: 10px !important;
	width: 29%;
	height: 40px;
	margin-left: -2%;
	background-color: #4CBCC8 !important;
	color: white !important;
	font-weight: bold;
	text-transform: uppercase;
}

.observacao {
	background-color: white !important;
	border-radius: 5px !important;
	border: none !important;
	height: 40px;
	margin-left: -2%;
	background-color: #C22C2C !important;
	color: white !important;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none !important;
	padding-top: 12px !important;
	padding-bottom: 12px !important;
	padding-left: 22% !important;
	padding-right: 22% !important;
}

/*Responsividade*/
@media screen and (max-width: 1192px) {
	.caixaGrande {
		max-width: 75%;
	}
}

@media screen and (max-width: 992px) {
	.caixaGrande {
		max-width: 70%;
	}
	.observacao {
		padding-left: 20% !important;
		padding-right: 20% !important;
	}
}

@media screen and (max-width: 792px) {
	.caixaGrande {
		max-width: 55%;
	}
	.observacao {
		padding-left: 18% !important;
		padding-right: 18% !important;
	}
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
	.caixaGrande {
		max-width: 50%;
	}
}