.voltar {
	color: white !important;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #505050 !important;
	padding: 10px 40px;
	border-radius: 10px !important;
}

.voltar2 {
	color: white !important;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #505050 !important;
	padding: 10px 20px;
	font-size: 12px;
	border-radius: 10px !important;
}

.obs {
	color: white !important;
	text-transform: uppercase;
	font-weight: bold;
	background-color: orange !important;
	padding: 10px 20px;
	font-size: 12px;
	border-radius: 10px !important;
}

.obs2 {
	color: white !important;
	text-transform: uppercase;
	font-weight: bold;
	background-color: orange !important;
	padding: 11px 21px;
	font-size: 12px;
	border-radius: 10px !important;
	box-shadow: none !important;
	border: none !important;
}

.apagar {
	color: white !important;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #e61919 !important;
	padding: 10px 20px;
	font-size: 12px;
	border-radius: 10px !important;
}

.pesquisa-title {
	font-family: Sans-Serif !important;
	color: white !important;
	text-transform: uppercase !important;
	font-weight: bold;
	background-color: #4CBCC8;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-top: 2.5%;
}

.pesquisa-th {
	text-align: center;
	background-color: white;
}

.borda {
	border-right-color: #4CBCC8;
	border-right-width: 4px;
	border-right-style: solid;
}

.pesquisa-td {
	text-align: center;
}

.zebrado:nth-child(even) {
	background: white;
}

.zebrado:nth-child(even) {
	background: white;
}

.zebrado:nth-child(odd) {
	background-color: #EEEEEE;
}

.zebrado:hover {
	background-color: rgba(76, 188, 200, 0.4) !important;
}

.margem {
	margin-bottom: 5%;
}

.margem2 {
	margin-top: 5%;
	margin-bottom: 5%;
}

.textareaObs {
	background-color: white !important;
	border-radius: 5px !important;
	border: none !important;
	max-width: 100% !important;
	min-width: 100% !important;
	min-height: 200px !important;
}

.erro404-h {
	font-weight: bold !important;
	font-size: 25px !important;
	margin-top: 100px;
}

.erro404-p {
	margin-bottom: 250px;
}

.margem-top {
	margin-top: 50px;
}

.margem-bottom {
	margin-bottom: 100px;
}